@using BookStore.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Переводчик</title>
</head>
<body>
    <div>
        <h3>Переводчик</h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.Translate" name="Translate" />
            <table>
                <tr>
                    <td><p>Введите текст </p></td>
                    <td> <textarea name="text" rows="5" cols="60" maxlength="60">@ViewBag.ToTranslate</textarea> </td>
                    <td> <textarea name="text" rows="5" cols="60" maxlength="60" disabled>@ViewBag.Translated</textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <select name="lang" size="1">
                            <option selected value="en">Английский
                            <option value="ru">Русский
                            <option value="fr">Французский
                        </select>
                    </td>
                </tr>
                <tr><td><input type="submit" value="Перевести"/> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>